:root {
	--c-dark: #0c0015;
	--c-dark-t: #0c0015e6;
	--c-dark-2: #908272;
	--c-light: #e3fbe5;
	--c-light-2: #eeffe7;
	--c-dim: #a998a5;
	--c-primary: #bc47eb;
	--c-secondary: #ff7f11;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	width: 100%;

	color: var(--c-light);
	background-color: var(--c-dark);

	font-family: "Lato";
}

main {
	flex-grow: 1;
	width: 100%;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

[data-icon] {
	vertical-align: -0.125em;
}
