---
import Nameplate from "@components/home/hero/Nameplate.astro";
---

<style>
	#hero {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100svh;
		width: 100%;

		background: linear-gradient(0deg, var(--c-dark) 0%, var(--c-light) 100%);

		text-align: center;
	}
</style>

<div id="hero">
	<Nameplate />
</div>
