---
import Boids from "@components/experimental/Boids.astro";
import Nameplate from "@components/home/hero/Nameplate.astro";
---

<style>
	#hero {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100svh;
		width: 100%;

		/* background: radial-gradient(circle, var(--c-light), var(--c-light-2)); */

		background-color: var(--c-light-2);

		text-align: center;
	}
</style>

<div id="hero">
	<Boids />
	<Nameplate />
</div>
