---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Page not Found";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>404 - Are you sure you have the right URL?</h2>
</BaseLayout>
