---
import { Icon } from "astro-icon/components";

const iconSize = "2rem";
---

<style>
	ul {
		display: flex;
		justify-content: center;
		gap: 1rem;

		list-style: none;
		padding: 0;
		margin: 0;
	}

	[data-icon] {
		color: var(--c-dim);
		transition: color 0.2s;
	}

	[data-detail]:hover [data-icon] {
		color: var(--c-light);
	}
</style>

<ul>
	<li data-detail="Nyveon">
		<a href="https://github.com/Nyveon" title="Github" target="_blank">
			<Icon name="github" size={iconSize} />
		</a>
	</li>
	<li data-detail="a@eri.cl">
		<a href="mailto:a@eri.cl" title="Email">
			<Icon name="mail" size={iconSize} />
		</a>
	</li>
	<li data-detail="@erictc">
		<a
			href="https://www.linkedin.com/in/erictc/"
			title="LinkedIn"
			target="_blank"
		>
			<Icon name="linkedin" size={iconSize} />
		</a>
	</li>
</ul>

<script>
	const flippers = [...document.querySelectorAll("[data-detail]")];

	flippers.forEach((flipper) => {
		flipper.addEventListener("mouseenter", () => {
			flipper.dispatchEvent(
				new CustomEvent("flipName", {
					bubbles: true,
					detail: flipper.dataset.detail,
				})
			);

			flipper.addEventListener("mouseleave", () => {
				flipper.dispatchEvent(
					new CustomEvent("flipName", {
						bubbles: true,
					})
				);
			});
		});
	});

	// contactGithub.addEventListener("mouseenter", () => {
	// 	console.log("here");
	// 	contactGithub.dispatchEvent(
	// 		new CustomEvent("flipName", { bubbles: true, detail: "Nyveon" })
	// 	);
	// });
</script>
