---
layout: base.njk
name: "home"
---

<div id="blob"></div>
<div id="blur"></div>

<div id="backgrounds">
	{% for i in range(8) %}
	<div></div>
	{% endfor %}
</div>

<script src="js/index.js"></script>
