---
import AnimatedFavicon from "@components/experimental/AnimatedFavicon.astro";
import "@styles/normalize.css";
import "@styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang={Astro.currentLocale}>
	<head>
		<!-- Meta -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
			rel="stylesheet"
		/>

		<!-- Tab -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{pageTitle}</title>

		<style>
			body {
				background-color: var(--c-dark);
			}
		</style>
	</head>
	<body>
		<header>
			<slot name="header" />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<slot name="footer" />
		</footer>
		<AnimatedFavicon />
	</body>
</html>
